body {

    background-color: #f5f7fa;

    font-family: Arial, sans-serif;

}

.navbar {

    padding: 15px;

}

.nav-link {

    margin-left: 15px;

    transition: 0.3s;

}

.nav-link:hover {

    color: #ffc107 !important;

}

.card {

    transition: 0.3s;

    overflow: hidden;

}

.card:hover {

    transform: translateY(-5px);

}

.card-body {

    padding: 25px;

}

.btn {

    border-radius: 10px;

    transition: 0.3s;

}

.btn:hover {

    transform: scale(1.03);

}

h1, h2, h3 {

    font-weight: bold;

}

table {

    background-color: white;

}

.table th {

    text-align: center;

}

.table td {

    vertical-align: middle;

}

footer {

    margin-top: 50px;

}
.dark-mode {

    background-color: #121212 !important;

    color: white !important;

}

.dark-mode .card {

    background-color: #1e1e1e !important;

    color: white !important;

}

.dark-mode .navbar {

    background-color: #000 !important;

}

.dark-mode footer {

    background-color: #000 !important;

}

.dark-mode .table {

    color: white !important;

}

.dark-mode .form-control,
.dark-mode .form-select {

    background-color: #2c2c2c !important;

    color: white !important;

    border: 1px solid #555 !important;

}

.dark-mode .list-group-item {

    background-color: #1e1e1e !important;

    color: white !important;

}
